---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mi-catalogo" description="Al alcance de la mano">
  <main
    class="   bg-gradient-to-br from-[#c1caff] to-[#0054ce] text-white"
  >
    <section class="min-h-screen    h-full items-center justify-center ">

        <div  class="flex flex-col pt-60   md:text-8xl text-5xl items-center justify-center drop-shadow-md">
            <div>
                <img class="w-24 h-24 md:w-56 md:h-56 drop-shadow-lg" src="./bag.svg" alt="" />
            </div>
            <h2 
           
           
              class="gradient-text  text-center font-medium tracking-widest md:text-8xl text-5xl drop-shadow-lg pl-10"
            >
              mi-catalogo
             
          </h2>
    
          
        </div>
      

      

      <span
        class="flex flex-wrap   mt-2 md:text-5xl text-2xl font-thin  items-center justify-center  drop-shadow-md uppercase"
        >Al alcance de la mano</span
      >

      <span
        class="flex flex-col mt-32 md:text-5xl text-3xl items-center justify-center drop-shadow-md"
        >Proximamente...</span
      >
    </section>
  </main>
</Layout>
